#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.hero{
  padding-top: 0px;
}

.columns{
  border-top: 1px solid lightgrey;
  padding-top: 20px;
}

.label, .input, .textarea{
  font-size: 13px;
}

.list-url {
  font-size: 11px;
}

h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
