<template>
  <div>
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            ViewsCounter
          </h1>
          <h2 class="subtitle">
            A simple app to count the number of views
          </h2>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <div class="card">

            <header class="card-header">
              <p class="card-header-title">
                Search data
              </p>

            </header>

            <div class="card-content">
              <div class="content">
                <div class="field">
                  <label class="label">Start date</label>
                  <div class="control">
                    <!--<input class="input is-success" type="number" placeholder="Text input" v-model.number="after">-->
                    <datepicker v-model="after" placeholder="Choose a date" :config="{ dateFormat: 'Y-m-d H:i', enableTime: true, defaultDate: 1496444650000 }"></datepicker>
                  </div>
                </div>

                <div class="field">
                  <label class="label">End date</label>
                  <div class="control">
                    <!--<input class="input" type="number" v-model.number="before" placeholder="Text input">-->
                    <datepicker v-model="before" placeholder="Choose a date" :config="{ dateFormat: 'Y-m-d H:i', enableTime: true, defaultDate: 1496541300000 }"></datepicker>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Interval of time to display</label>
                  <div class="control">
                    <input class="input" type="email" v-model="interval" placeholder="Enter a time interval">
                  </div>
                  <p class="help">"30m" or "1h" for instance</p>
                </div>

                <div>
                  <label class="label">Select URL(s)</label>
                  <multiselect style="font-size: 10px;" v-model="urls" :options="listUrl" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Pick some" label="" track-by="" :preselect-first="true">
                    <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} selected URL(s)</span></template>
                  </multiselect>
                </div>
              </div>
                <footer class="card-footer">
                  <a class="card-footer-item" v-on:click="fetchData" >Send</a>
                </footer>
            </div>
          </div>
        </div>

        <div class="column is-9">
          <div v-if="chartData[0][0] !== 'none'" class="has-text-centered">
            <h4>Histogram of page views</h4>
            <GChart
              type="ColumnChart"
              :data="chartData"
              :options="chartOptions"
            />
          </div>
          <p v-else class="has-text-centered">Please, fill and send the form</p>
          <p v-if="error !== null" class="help is-danger has-text-centered">Request error : {{ error }}</p>
        </div>

      </div>
    </div>

  </div>
</template>

<script>

const axios = require('axios');
import { GChart } from 'vue-google-charts';
import Multiselect from 'vue-multiselect';
import Datepicker from 'vue-bulma-datepicker';

export default {

  components: {
    GChart,
    Multiselect,
    Datepicker
  },

  data: function () {
    return {

      chartData: [
        ['none', 'non'],
        ['none', 2],
      ],
      chartOptions: {
        chart: {
          title: 'Pages performance',
        },
        isStacked: true,
        width: 900,
        height: 500,
        legend: { position: 'bottom', maxLines: 0, textStyle:  {fontName: 'Helvetica',fontSize: 13,bold: false} },
        bar: { groupWidth: '75%' },
        hAxis : {textStyle : {fontSize: 13 }},
        animation : {
          duration: 100,
          startup: true,
          easing: 'in',
        },
        colors: ["#4BBCF4", "#61C0BF","#BBDED6", "#8adbc7", "#FAE3D9", "#72da7c" ],
      },

      message: 'Welcome to ViewMonitoring',
      interval: "1h",
      before: null,
      after: null,
      listUrl: [],
      urls: ["http://www.news.com.au/travel/travel-updates/incidents/disruptive-passenger-grounds-flight-after-storming-cockpit/news-story/5949c1e9542df41fb89e6cdcdc16b615",
        "http://www.smh.com.au/nsw/premier-gladys-berejiklian-announces-housing-affordability-reforms-20170601-gwi0jn.html",
        "http://www.news.com.au/technology/environment/trump-pulls-us-out-of-paris-climate-agreement/news-story/f5c30a07c595a10a81d67611d0515a0a"],
      error: null,
    }
  },

  mounted () {
    let self = this;

    axios
      .get('http://localhost:3000/pages_views')
      .then(function(response){
        let buckets = response.data.aggregations.pages.buckets;
        let output = [];

        buckets.forEach(function(bucket){
          output.push(bucket["key"])
        });

        self.listUrl = output;
      })
      .catch(error => console.log(error));
  },

  methods: {
        fetchData () {
          let self = this;
          let beforeTstamp = new Date(this.before).getTime();
          let afterTstamp = new Date(this.after).getTime();

            axios
              .post('http://localhost:3000/pages_views', {interval: this.interval, before: beforeTstamp, after: afterTstamp, urls : this.urls})
              .then(function (response) {

                if (typeof response.data.aggregations !== "undefined"){
                  let buckets = response.data.aggregations.group_by_page_url.buckets;
                  let pages = [];
                  self.error = null;//resetting error to null if we had one before
                  self.chartData = []; //resetting charts data
                  let output = [];

                  buckets.forEach(function(bucket) {
                    let pageUrl = bucket["key"];
                    let viewsOverTime = bucket["views_over_time"];

                    if (pages.indexOf(pageUrl) === -1) { //saving the list of pages for the legend
                      pages.push(pageUrl);
                    }

                    viewsOverTime.buckets.forEach(function(date,index) {

                      let countPageForDate = date["doc_count"];
                      let pageDate = new Date(date['key']);

                      if (index > output.length - 1){ //format the output to work with chartData
                        output.push([pageDate, countPageForDate]);
                      } else {
                        output[index].push(countPageForDate);
                      }

                    });

                  });

                  pages.unshift('Time');
                  output.unshift(pages);
                  self.chartData = output;
                } else {
                  self.error = response.data.error;
                  self.chartData = [ //Remove the values
                    ['none', 'non'],
                    ['none', 2],
                  ]
                }

              })
              .catch(error => console.log(error));

        },

  },
}
</script>

<style>
  @import '../assets/css/ViewsCounter.css';
</style>
