<template>
    <ViewsCounter/>
</template>

<script>
import ViewsCounter from './components/ViewsCounter'

export default {
  name: 'App',
  components: {
    ViewsCounter,
  }
}
</script>

<link rel="stylesheet" type="text/css" href="./assets/css/ViewsCounter.css">
